#form {
  float: left;
  width: 50%;
  white-space: pre-line;
}

#article {
  float: left;
  width: 50%;
  white-space: pre-line;
}

#form * {
  margin-bottom: 10px;
  margin-right: 5px;
}

#f_el {
  display: none;
}

figure img {
  height: 420px;
  width: 75%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

figure figcaption {
  text-align: center;
}
